body {
  color: white;
  font-family: "Noto Serif", serif;
  background-color: #eeb462;
}

h1 {
  font-size: 4rem;
}

.my-btn {
  font-size: 1.2rem;
  background-color: #138085;
  padding: 1.2rem 1rem;
}

.my-btn:hover {
  background-color: #0a6569;
}
